@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

input {
  width: 100%;
  padding: 6px 0;
}

label {
  padding: 7px 15px;
  color: #4b4b4b;
  font-size: 18px;
  text-transform: capitalize;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
  background-color: #cbe4e1;
}
/*=================================
  main styling starts here
=================================*/
h1 { margin-top: 85px; }

h2 {
  margin-bottom: 23px;
  color: #8d0600;
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
}

h1 ,
.shop,
.item,
.quantity {
  display: inline-block;
  vertical-align: top;
}

.shop {
  width: 67%;
  margin: 20px 3%;
}

form,
.list {
  width: 84%;
  padding: 22px 16px;
  margin-bottom: 38px;
  background-color: #fff;
}

.item,
.quantity {
  width: 16%;
  margin-right: 7%;
}

.save,
.clear {
  padding: 4px 42px;
  border: 0;
  display: inline-block;
  background-color: #8ec63e;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}

.save:hover,
.clear:hover {
  background-color: #cbe4e1;
  color: #8ec63e;
  transition: .5s ease-in-out;
}

h3 {
  color: #4b4b4b;
  font-size: 23px;
  text-transform: capitalize;
}

.item-list { display: flex; }
.item-list ul { display: inline-block; }

.item-list li {
  padding: 7px 47px;
  display: block;
  background-color: #cfcfcf;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

span::first-letter { text-transform: capitalize; }

span {
  display: inline-block;
  color: #4b4b4b;
  font-size: 14px;
}
/*=================================
  main styling ends here
=================================*/